
header{
    width:100%;
    text-align: center;
    background-color: #013E53;
    height: 60px;
}
header h1{
    margin: 0px;
    padding: 10px;
    color: white;
}
.footer{
	background-color: #013E53;
    padding:10px 0 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.copyright, .credits{
	color:#cccccc;
	font-size:14px;
	display:block;
	text-align:center;
}
.whole-page{
    width: 100%;
}
.top-level{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.left-half{
    background: #DCF0F7;
    display: flex;
    flex-direction: column; 
    margin: auto;
    width: 100%;   
    height: 100%;
}
.right-half{
    /* height: 200px; */
    /* width: 200px; */
    background: #bd3244;
    display: flex;
    flex-direction: column; 
    /* margin: auto; */
    width: 100%;
    height:100%;
}
.outer-info-box{
    height: 130px;
    width: 130px;
    background-color: #bd3244;
    margin: 10px;
    display: flex;
    border-radius: 5%;
}

/* .outer-info-box + .outer-info-box{
    margin-top: 10px;
} */

/* 8DACA6  */
.inner-info-box{
    height: 110px;
    width: 110px;
    background-color: #013E53;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}
.info-titles{
    font-size: 15px;
    text-align: center;
}
.fa-cog{
    font-size: 10px;
}
.inner-info-titles{
    font-size: 40px;
}
.top-row{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.bottom-row{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: auto;  
}

.interior{
    margin: 17.5px;
    height: 100%;
    margin: auto;
    max-width: 282px;
    margin-top: 30px
}

.navbar-inverse{
    margin-bottom: 0;
}

.navbar-header{
    background-color: #013E53;
}

@media (min-width: 700px) {
    
    html{
        height:100%;
    }
    body{
        height: 100%;
    }
    .top-level{
        display:flex;
        flex-direction: row;
        height:100%;
        align-items: center;
        justify-content: center; 
    }

    .left-half{
        margin:0px;
        padding: 0px;
        height: 100%;
    }
    
    .right-half{
        height:100%;
    }
    .interior{
        height: 100%;
    }
    
    .whole-page{
       height: 100%; 
    }
    .bottom-row{
        margin-top: 0px;
    }
    .top-row{
        margin-bottom: 0px;
        margin-top: 20px;
    }
   
}

/* #twitter-widget-0 { 
    max-width: 250px !important; 
    
  } */

